NODE_ENV=development
PORT=3009
CORS_ORIGIN=*
APP_URL=http://localhost:3009
GUI_BASE_URL=http://localhost:3009
CHECKIN_LIMIT_PER_DAY=true

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=emotion_checkin
DB_SYNC=true
DB_LOGGING=false
