<button
  type="button"
  class="emotion-tile"
  [class.selected]="selected()"
  [class.tone-red]="code() === 'RED'"
  [class.tone-blue]="code() === 'BLUE'"
  [class.tone-yellow]="code() === 'YELLOW'"
  [class.tone-gray]="code() === 'GRAY'"
  [style.--emotion-color]="color()"
  (click)="choose.emit()"
>
  <span class="icon-wrap" aria-hidden="true">
    <span class="icon">{{ icon() }}</span>
  </span>
  <span class="text">
    <strong>{{ title() }}</strong>
    <small>{{ subtitle() }}</small>
  </span>
</button>
